h1 {
  color: #778899;
  display: flex;
  background-color: lightyellow;
  justify-content: center;

}
h1 {
font-family: cursive;
center;
}
img {
  height: 250px;
  width: 350px;
  padding: 100;
  margin: 10px;
}
body {
  background: #ffe4b5;
}
.brownie{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
